@font-face {
    font-family: nb;
    src: url(./NeueHaasDisplayMediu.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nb';
}

html, body{
    height:100%;
    width: 100%;
}
#page1 {
    height: 100vh;
    width: 100%;
    background-color:red ;
    position: relative;
    
}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position:absolute;
}
#page1-content{
    height: 100%;
    width: 100%;
    /* background-color: black; */
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    

}

#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #FF5F38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);

}
#cursor h5{
    font-size: 1.15vw;
    font-weight: 500;
}
page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background-color: red; */
    padding: 2vw 3vw;
}
nav h3{
    font-size: 1.4vw;
}
#page1-content h1{
    font-size: 27vw;
    font-weight: 100;
    line-height: 27vw;

}